body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	position: relative;
}

.container:nth-child(0) { padding-bottom: 130px }

.portfolio-item {
	margin-bottom: 25px;
}

.row {
	width: 80%;
	margin: auto
}

.page-header {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

h1>small {
	margin: 10px;
}

img {
	max-height: 200px;
}

a~h3 {
	margin-top: 10px;
}

p>a[href] {
	color: #1fbd46
}

h3>a[href] {
	color: #12772b
}

.navbar {
	background-color: #335033
}

.navbar-inverse .navbar-brand {
	color: azure
}

/** FOOTER AREA **/
#footer-container.container {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer {
	margin: 50px 0;
}
