body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	height: 300px;
	margin-bottom: 25px;
	border: 5px solid #12772b;
	border-radius: 15px;
	box-sizing: border-box;
	margin: 20px;

}

footer {
	margin: 50px 0;
}

.row {
	width: 80%;
	margin: auto
}

.page-header {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

h1>small {
	margin: 10px;
}

img {
	width: auto;
	max-height: 150px;
	margin: auto;
	margin-top: 8px;
	border-radius: 8px;

}

a~h3 {
	margin-top: 10px;

}

p>a[href] {
	color: #1fbd46

}

h3>a[href] {
	color: #12772b
}

.navbar {
	background-color: #335033
}

.navbar-inverse .navbar-brand {
	color: azure
}

#fuckthat {
	padding-top: 20px;
	padding-left: -20px;
}

#textbox {
	margin: 10px;
}

/* about.html list itens */

#aboutlistitem>div>li {
    border: 2px solid #12772b;
    border-radius: 15px;
    height: 90px;
    box-sizing: border-box;
    display: block;
    margin-left: 15px;
} 

#aboutlistitem>div>li>p {
    padding-left: 15px;

}

#aboutlistitem>div>li>a {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 25px;
    display: block;

}

#aboutlistitem>div>h2 {
	padding-bottom: 10px;
	font-weight: bold
}
