:root {
    --border-color: rgb(72, 140, 76);
    --border-width: 2px;
    --sec-color: rgb(32, 164, 108);
  }

  html {
      background-color:rgb(30, 30, 30);
  }


  body {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      overflow-x: hidden;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  .flex-container-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow-x: hidden;
      margin-left: auto;
      margin-right: auto;
  }

  .img-responsive {
      max-height: 234px;
      align-self: center;
      max-width: 99%;
  }

  /*.flex-item {

  }*/

  .project {
      padding: 15px;
      margin: 20px;
      border: solid var(--border-width) var(--border-color);
      max-width: 20%;
  }

  .projdesc {
    max-width: 95%;
  }


  
  p {
      color: var(--sec-color);
  }

  .social {
      display:flex;
      flex-direction: column;
      text-align: center;
      margin: 15px;
      padding: 15px;
      border: solid var(--border-width) var(--border-color);
  }

  .socialicon {
    max-width: 5vw;
  }

  .header {
      display: block;
      color: var(--sec-color);
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
  }

  .worklist {
      display: flex;
      flex-direction: column;
  }

  .workitem {
      margin: 10px;
      padding: 15px;
      border: solid var(--border-width) var(--border-color);
      max-width: 50%;
  }

  .aboutbanner {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #navbar {
      position: fixed;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: rgb(32, 30, 33);
      width: 100vw;
      overflow-x: hidden;

  }

  .navitem {
      padding-left: 2vw;
  }

  a[href] {
      color: rgb(128, 204, 180);
  }

  #banner {
    max-width: 70%;
  }