$mobile-width: 576px;
$desktop-width: 1024px;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fira+Sans:wght@200&family=Space+Mono&display=swap');

@mixin mobile-small {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$desktop-width - 1px}) {
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin box-shadow($x...) {
    box-shadow: $x;
    -webkit-box-shadow: $x;
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

.hidden-desktop {
    @include desktop {
        display: none;
    }
}

.hidden-mobile {
    @include mobile {
        display: none;
    }
}

$color-green: #83a598;
$color-gray: #e6d2b5;
$color-black: #282828;
$color-black-lite: #3c3836;
$color-white: #ebdbb2;
$color-accent: #83a598;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

html, body, #root {
    background-color: #e6d2b5;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.2;
}
*{
    font-size: 16px;
    box-sizing: border-box;
}

button, input[type=button], input[type=submit] {
    @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
    @include transition(background-color 0.2s linear);
    color: $color-black;
    &:active{
        background-color: darken($color-gray, 15%);
    }
}

input[type=button], input[type=submit], button{
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 12em;
    border-radius: 5px;

    @include transition(box-shadow 0.2s linear);

    &:active{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        transition: none;

    }
}

.nav-item {
    @include mobile{
        width: 100;
    }
    display: block;
    padding: 1em;
    text-decoration: none;
    margin: 0 !important;
    border: none;
    background-color: $color-black-lite;
    color: $color-white;
    @include box-shadow(0px, 4px, 6px, rgba(0, 0, 0, 0.2));
    @include transition(background-color 0.15s linear);
    font-weight: 400;
    &:hover{
        background-color: $color-accent;
        color: $color-black-lite;
    }
    //make the text color white when not hovering
    &:not(:hover){
        color: $color-white;
    }
}

textarea {
    display: block;
    resize: none;
    margin: 0.5em;
    @include desktop {
        min-width: 600px;
    }
}

input[type=submit] {
    float: right;
}


button, input, textarea {
    font-size: 1em;
    background-color: $color-white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

i {
    display: block;
    background-color: transparent !important;
}

input {
    display: block;
    border: 1px solid $color-black;
    color: $color-black-lite;
    background-color: $color-white !important;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

p {
    margin-bottom: 0.75em;
}

.fixed-center{
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

hr {
    border: 1px solid black;
}

h2 {
    margin-left: 0 !important;
}


h1 a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

.hidden-desktop {
    @include desktop {
        display: none !important;
    }
}

  a {
    text-decoration: none;
    color: #076678;
  }
  
  /* mouse over link */
  a:hover {
    color: #83a598;
}