.flex-rendered {
    h1 {
        font-size: 20pt;
        font-weight: 400;
        margin-bottom:0.75em;
        margin-top:2em;
    }

    h1:first-of-type {
        margin-top:1em;
    }

    h1:after {
        content:' ';
        display:block;
        border:1px solid $color-black-lite;
    }
    h2 {
        font-size: 14pt;
        margin-bottom: 0.75em;
        margin-top: 1em;
        font-weight: bold;
        @include desktop {
            margin-left: 1em;
        }
        @include mobile {
            margin-top: 2em;
        }
    }
    h2:first-of-type {
        margin-top: 0.5em !important;
    }

    h3 {
        font-size: 12pt;
    }
}