public/
data/resume/cv.aux
data/resume/cv.bbl
data/resume/cv.bcf
.gitignore
data/resume/cv.blg
data/resume/cv.fdb_latexmk
data/resume/cv.fls
data/resume/cv.log
data/resume/cv.out
data/resume/cv.run.xml
data/resume/cv.synctex.gz
