---
layout: main
---
<div class="flex-profile">
  <div class="profile-wrapper">
    <div class="profile">
      <div class="profile-header">
        <div class="profile-pic">
          <!-- <pre>        
            ▓▓██▓███▓▓█           
        ▓▓▓██████████████         
       ▓▓███████████████████      
      ▓███████████████████████    
     ▓█████▓▓▓▓▓▓▓████████████    
      █████▓▓▓█▓▓▓▓▓█████████     
     ██████▓▓███▓▓███████████     
      ████▒▒▒▓▓▓▒▒▓█▓▓▓██████     
      ███▓▒▒▒▒▓▓████▓▓▓█████      
       █▓▒▒▒▓▓▓▓▓▓██████████      
        ██▓▒▒▓▓▓▓██████████       
         ██▓▓▓▓▒▒▓▓▓█████         
            ▒▓████████████        
          ██▒▓▓████████████       
          ███▓▓▓▓▓██████████      
          ██▓█▓▓▓███████████████  
        ▓█████████████████████████
    ▓▓████████████████████████████
            </pre> -->
          <img src="{{ base.url | prepend: site.url }}/assets/img/headshot.png"></img>
        </div>
      </div>
      <div class="profile-info">
        <hr />
        <ul class="profile-info-list">
          <li class="item">
            <i class="ri-government-fill"></i><span style="font-size: 1.0em;">{{site.org}}</span>
          </li>
          <!-- <li class="item">
            <i class="ri-building-fill"></i><span style="font-size: 1.0em;">{{site.suborg}}</span>
          </li> -->
          <li class="item">
            <i class="ri-map-pin-fill"></i><span style="font-size: 1.0em;">{{site.loc}}</span>
          </li>
          <li class="item">
            <i class="ri-mail-fill"></i><span style="font-size: 1.0em;">{{site.email}}</span>
          </li>
        </ul>
        <hr />
      </div>
    </div>
  </div>
</div>
<div class="flex-rendered">
  {{content}}
</div>