<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ base.url | prepend: site.url }}/assets/img/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="{{ base.url | prepend: site.url }}/assets/js/dropdown.js"></script>
  <title>Jan-Paul 😎</title>
</head>

<body>
  <div id="root">
    <div class="flex-main" id="main">
      <div class="nav" id="nav">
        <div class="profile-title">
          <h1><a href="/">Jan-Paul Vincent Ramos-Dávila</a></h1>
          <div class="section-info">
            <hr class="sep" />
            {% for item in site.data.navigation %}
            {% if page.url==item.link %}
            <h2>{{ item.name }}</h2>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="contact-toggle-wrapper">
          <a class="form-button form-button-inline" id="contact-toggle">
            <i class="ri-menu-line"></i>
          </a>
        </div>
        <div class="contact-wrapper contact-wrapper-inline">
          <div id="contact" class="contact contact-inline">
            <div class="social social-inline">
              <div class="nav-items-inline">
                {% for item in site.data.navigation %}
                <li>
                  <a href="{{item.link}}" {% if page.url==item.link %} class="nav-item nav-item-current" {% else %}
                    class="nav-item" {% endif %}>
                    {{ item.name }}
                  </a>
                </li>
                {% endfor %}
              </div>
              <hr />
              <div class="social-icons social-icons-inline">
                <a href="https://github.com/{{site.social_tag}}/" target="_blank">
                  <i class="ri-github-fill"></i>
                </a>
                <a href="https://stei.substack.com/" target="_blank">
                  <i class="ri-stack-fill"></i>
                </a>
                <a href="https://conf.researchr.org/profile/janpaulramosdavila" target="_blank">
                  <i class="ri-bookmark-fill"></i>
                </a>
                <a href="https://www.linkedin.com/in/janpaulpl/" target="_blank">
                  <i class="ri-linkedin-fill"></i>
                </a>
                <a href="https://twitter.com/JanPaulPL/" target="_blank">
                  <i class="ri-twitter-x-fill"></i>
                </a>
                <a href="https://letterboxd.com/vinnely/" target="_blank">
                  <i class="ri-film-fill"></i>
                </a>
                <a href="https://www.albumoftheyear.org/user/jpvinnie/" target="_blank">
                  <i class="ri-album-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-body">
        <div class="flex-content">
          {{ content }}
        </div>
        <div class="footer">
          <span>&copy;
            <script>document.write(new Date().getFullYear())</script>, Jan-Paul V. Ramos.
          </span>
          <span class="footer-attrib">Powered by <a class="footer-link" href="https://jekyllrb.com">Jekyll</a>, <a
              href="https://jpswalsh.github.io/academicons/" class="footer-link">Academicons</a>, &amp; <a
              href="https://remixicon.com/" class="footer-link">Remix Icon</a></span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>